# A. 코딩 테스트를 위한 파이썬 문법

### 1. 자료형
- 자료형에 대한 이해는 프로그래밍 이해의 첫 걸음. 파이썬은 사전 자료형, 집합 자료형 등 강력한 기능을 가진 자료형을 기본으로 내장하고 있다.

##### 수 자료형
- 수 자료형은 코딩 테스트의 기본 자료형이며 정수와 실수가 많이 사용되는데 그 중에서도 정수를 기본으로 한다.

정수형
- 양의 정수, 음의 정수, 0이 있다.
- 코딩 테스트의 알고리즘 문제 대부분 입력/출력 데이터가 정수형이다.

In [ ]:
# 양의 정수
a = 1000 
print(a)

1000

In [ ]:
# 음의 정수
a = -7
print(a)

-7

In [ ]:
# 0
a = 0
print(a)

0

실수형
- 변수에 소수점을 붙인 수를 대입하면 실수형 변수로 처리한다.
- 정수부가 0인 소수는 0을 생략하고 작성할 수 있다.

In [ ]:
# 양의 실수
a = 157.93
print(a)

157.93

In [ ]:
# 음의 실수
a = -1837.2
print(a)

-1837.2

In [ ]:
# 소수부가 0일 때 0을 생략
a = 5.
print(a)

5.0

In [ ]:
# 정수부가 0일 때 0을 생략
a = -.7
print(a)

-0.7

실수형 데이터를 표현하는 방식 => e 또는 E
- 유효숫자e(지수) = 유효숫자 x 10(지수)
- 최단 경로 문제에서는 도달할 수 없는 노드에 대하여 최단 거리를 '무한(INF)'으로 설정 (ex. 10억 => 1e9)

In [ ]:
# 10억의 지수 표현 방식
a = 1e9
print(a)

1000000000.0

In [ ]:
# 752.5
a = 75.25e1
print(a)

752.5

In [ ]:
# 3.954
a = 3954e-3
print(a)

3.954

- 실수를 처리할 때 부동 소수점 방식을 이용한다. 
- 컴퓨터 시스템은 수 데이터를 처리할 때 2진수로 표현하므로 미세한 오차가 발생하기도 한다.

In [ ]:
a = 0.3 + 0.6
print(a)

0.8999999999999999

In [ ]:
if a == 0.9:
    print(True) 
else:
    print(False)

False

- round()함수의 이용
    - 소수점 값을 비교하는 작업이 필요한 문제에서 실수 값을 비교하지 못해서 원하는 결과를 얻지 못할 수 있다. 이때 round() 함수를 이용할 수 있다.
    - round() 함수를 호출할 때 인자(Argument)를 넣는데 첫 번째 인자는 실수형 데이터이고, 두 번째 인자는 (반올림하고자 하는 위치 -1)이다.
    - 코딩테스트 문제에서는 소수점 특정 자릿수에서 반올림한 결과가 같으면 정답으로 인정한다.

In [ ]:
a = 0.3 + 0.6
print(round(a, 4))

0.9

In [ ]:
if round(a, 4) == 0.9:
    print(True)
else:
    print(False)

True

수 자료형의 연산
- 프로그래밍에서는 사칙연산(+, -, x, /)을 이용하여 계산한다.
- 나누기 연산자(/)는 나눠진 결과를 기본적으로 실수형으로 처리한다.
- 나머지 연산자(%), 몫 연산자(//)

In [ ]:
a = 7
b = 3

# 나누기
print(a / b)

# 나머지
print(a % b)

# 몫
print(a // b)

2.3333333333333335
1
2

- 거듭제곱 연산자는 x**y형식으로 사용한다.

In [ ]:
a = 5
b = 3

print(a ** b)

125

##### 리스트 자료형
- 여러 개의 데이터를 연속적으로 담아 처리하기 위해 사용할 수 있다.
- 파이썬의 리스트 자료형은 배열(Array)기능을 포함하고 있으며 내부적으로 연결 리스트 자료구조를 채택하고 있어서 append(), remove() 등의 메서드를 지원한다.

리스트 만들기
- 리스트는 대괄호([])안에 원소를 넣어 초기화하며, 쉼표(,)로 원소를 구분한다.
- 리스트의 원소에 접근할 때는 인덱스(index)값을 괄호 안에 넣는다.

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 인덱스 4, 즉 다섯 번째 원소에 접근
print(a[4])

5

In [ ]:
# 빈 리스트 선언 방법
a = list()
a

[]

In [ ]:
print(a)

[]

In [ ]:
a = []

In [ ]:
print(a)

[]

- 코딩 테스트 문제에서 주로 크기가 N인 1차원 리스트를 초기화해야 하는데 다음 방식으로 초기화하면 편리하다.

In [ ]:
# 크기가 N이고, 모든 값이 0인 1차원 리스트 초기화
n = 10
a = [0] * n
print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

리스트의 인덱싱과 슬라이싱
- 인덱싱(Indexing) : 인덱스값을 입력하여 리스트의 특정한 원소에 접근하는 것
- 인덱스값은 양의 정수, 음의 정수 모두 가능. 음의 정수 넣으면 원소를 거꾸로 탐색
- 예) -1을 넣으면 가장 마지막 원소 출력
- 인덱싱하여 특정 원소에 접근한 뒤, 그 값을 간단하게 바꿀 수 있다.

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
# 뒤에서 첫 번째 원소 출력
print(a[-1])

9

In [ ]:
# 뒤에서 세 번째 원소 출력
print(a[-3])

7

In [ ]:
# 네 번째 원소 값 변경
a[3] = 7
print(a)

[1, 2, 3, 7, 5, 6, 7, 8, 9]

- 슬라이싱(Slicing) : 리스트에서 연속적인 위치를 갖는 원소들을 가져와야 할 때 사용할 수 있다.
- [(시작 인덱스):(끝 인덱스-1)]
- 예) a[1:4] <=> 두 번째 원소부터 네 번째 원소까지의 모든 데이터 가져오기

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# 두 번째 원소부터 네 번째 원소까지
print(a[1:4])

[2, 3, 4]