리스트 컴프리헨션
- 리스트를 초기화하는 방법 중 하나
- 대괄호([]) 안에 조건문과 반복문을 넣는 빙식으로 리스트 초기화 가능.
- 장점 : 한 줄의 소스코드로 리스트를 초기화할 수 있어 매우 간편하다.

In [ ]:
# 0부터 19까지의 수 중에서 홀수만 포함하는 리스트
array = [i for i in range(20) if i % 2 == 1]

print(array)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
array = []
for i in range(20):
    if i % 2 == 1:
        array.append(i)

print(array)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
# 1부터 9까지의 수의 제곱 값을 포함하는 리스트
array = [i * i for i in range(1, 10)]

print(array)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# N x M 크기의 2차원 리스트 초기화
n = 3
m = 4
array = [[0] * m for _ in range(n)]
print(array)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

- 언더바(_)의 역할
    - 반복을 수행하되 반복을 위한 변수의 값을 무시하고자 할 때 자주 사용.

In [ ]:
summary = 0
for i in range(1, 10):
    summary += i
print(summary)

45

In [ ]:
# 'Hello World'를 5번 출력할 때 언더바(_)를 이용
for _ in range(5):
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

- 특정 크기의 2차원 리스트를 초기화할 때 반드시 리스트 컴프리헨션을 이용해야 한다.

In [ ]:
# N x M 크기의 2차원 리스트 초기화(잘못된 방법)
n = 3
m = 4
array = [[0] * m] * n
print(array)

array[1][1] = 5
print(array)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[[0, 5, 0, 0], [0, 5, 0, 0], [0, 5, 0, 0]]

리스트 관련 기타 메서드
- append() 
    - 변수명.append()
    - 리스트에 원소 하나 삽입할 때 사용
    - 시간 복잡도 : O(1)

- sort()
    - 변수명.sort() : 기본 정렬 기능으로 오름차순으로 정렬
    - 변수명.sort(reverse=True) : 내림차순으로 정렬
    - 시간 복잡도 : O(NlogN)

- reverse() 
    - 변수명.reverse()
    - 리스트의 원소의 순서를 모두 뒤집어 놓는다.
    - 시간 복잡도 : O(N)

- insert()
    - 변수명.insert(삽입할 위치 인덱스. 삽입할 값)
    - 특정한 인덱스 위치에 원소를 삽입할 때 사용
    - 시간 복잡도 : O(N)

- count()
    - 변수명.count(특정 값)
    - 리스트에서 특정한 값을 가지는 데이터의 개수를 셀 때 사용
    - 시간 복잡도 : O(N)

- remove()
    - 변수명.remove(특정 값)
    - 특정한 값을 갖는 원소를 제거하는데, 값을 가진 원소가 여러 개면 하나만 제거
    - 시간 복잡도 : O(N)

In [ ]:
a = [1, 4, 3]
print("기본 리스트: ", a)

기본 리스트:  [1, 4, 3]

In [ ]:
# 리스트에 원소 삽입
a.append(2)
print("삽입: ", a)

삽입:  [1, 4, 3, 2]

In [ ]:
# 오름차순 정렬
a.sort()
print("오름차순 정렬: ", a)

오름차순 정렬:  [1, 2, 3, 4]

In [ ]:
# 내림차순 정렬
a.sort(reverse = True)
print("내림차순 정렬: ", a)

내림차순 정렬:  [4, 3, 2, 1]

In [ ]:
# 리스트 원소 뒤집기
a.reverse()
print("원소 뒤집기: ", a)

원소 뒤집기:  [1, 2, 3, 4]

In [ ]:
# 특정 인덱스에 데이터 추가
a.insert(2, 3)
print("인덱스 2에 3 추가: ", a)

인덱스 2에 3 추가:  [1, 2, 3, 3, 4]

In [ ]:
# 특정 값인 데이터 개수 세기
print("값이 3인 데이터 개수: ", a.count(3))

값이 3인 데이터 개수:  2

In [ ]:
# 특정 값 데이터 삭제
a.remove(1)
print("값이 1인 데이터 삭제: ", a)

값이 1인 데이터 삭제:  [2, 3, 3, 4]

- insert() 함수, append(), remove() 함수 주목
    - insert() 함수는 append() 함수보다 동작이 느리다. => 시간초과로 코딩테스트 통과 못할 수도 있다.
    - remove() 함수도 insert() 처럼 시간복잡도 O(N)
    - 특정한 값의 원소를 모두 제거하려면 => a에 포함된 원소를 하나씩 확인하며 그 원소가 remove_set에 포함되지 않았을 때만 리스트 변수인 result에 넣는다.

In [ ]:
a = [1, 2, 3, 4, 5, 5, 5]
remove_set = [3, 5]

# remove_set에 포함되지 않은 값만을 저장
result = [i for i in a if i not in remove_set] 
print(result)

[1, 2, 4]

##### 문자열 자료형
- 문자열 초기화
    - 문자열 변수를 초기화 할때 => 큰 따옴표(")나 작은따옴표(') 이용
    - 백슬래시(\)를 사용하면 큰따옴표나 작은따옴표를 문자열에 원하는 만큼 포함시킬 수 있다.

In [ ]:
data = 'Hello World'
print(data)

data = "Don't you know \"Python\"?"
print(data)

Hello World
Don't you know "Python"?

- 문자열 연산
    - 문자열을 처리할 때 유용하게 사용가능
    - 문자열 변수에 덧셈(+)을 이용하면 단순히 문자열이 더해져서 연결됨.

In [ ]:
a = "Hello"
b = "World"

print(a + " " + b)

Hello World

문자열 변수를 양의 정수와 곱하면, 문자열이 그 값만큼 여러 번 더해진다.

In [ ]:
a = "String"

print(a * 3)

StringStringString

파이썬의 문자열은 내부적으로 리스트와 같이 처리된다. => 문자열 데이터에 대해서도 인덱싱과 슬라이싱을 이용 할 수 있다.

In [ ]:
a = "ABCDEF"

print(a[2:4])

CD