# 입출력
- 알고리즘 문제 풀이의 첫번째 단계 => 데이터 입력받기
- 알고리즘 문제는 적절한 입력이 주어졌을 때, 입력받아서 적절한 알고리즘을 수행한 뒤의 결과를 출력할 것을 요구
- 예
```
입력 예시
5
65 90 75 34 99
```
```
출력 예시
99 90 75 65 34
```
- 입력받을 때 => **input()** 이용
- 입력받은 데이터를 정수형 데이터로 처리하려면 => **int()** 함수 사용
- 여러 개의 데이터를 입력받을 때 데이터가 공백으로 구분될 경우, 문자열을 띄어쓰기로 구분하여 각각 정수 자료형 데이터로 저장할 때 => **list(map(int, input().split()))** 이용
- **list(map(int, input().split()))** : input()으로 입력받음 -> split()으로 공백 나눔 -> map으로 모든 원소에 int() 함수 적용 -> list()로 바꿈

In [1]:
# 입력을 위한 전형적인 소스코드
n = int(input())    # 데이터의 개수 입력
data = list(map(int, input().split()))  # 각 데이터를 공백으로 구분하여 입력

data.sort(reverse = True)
print(data)

5
65 90 75 34 99
[99, 90, 75, 65, 34]

- 공백으로 구분된 데이터의 개수가 많지 않다면 => **map(int, input().split())** 이용

In [2]:
# 공백을 기준으로 구분하여 적은 수의 데이터 입력
n, m, k = map(int, input().split()) # n, m, k를 공백으로 구분하여 입력

print(n, m, k)

3 5 7
3 5 7

- 정렬, 이진 탐색, 최단 경로 문제 => 입력을 최대한 빠르게 받아야 할 경우, 많은 데이터가 연속적으로 입력되기도 함 (입력받는 것에도 시간 초과)
- 이 경우, input()함수를 그대로 사용하지 않는다. 
- **sys** 라이브러리 사용
```
import sys
sys.stdin.readline().rstrip()
```
- sys 라이브러리 사용 시, 한 줄 입력받고 **rstrip()** 함수를 꼭 호출해야 한다.
- readline()으로 입력하면 입력 후 엔터(enter)가 줄 바꿈 기호로 입력됨 => 이때 공백문자 제거할 rstrip() 사용

In [4]:
# readline() 사용 소스코드 예시
import sys 

data = sys.stdin.readline().rstrip()   # 문자열 입력받기
print(data)

- **print()** : 출력
- print()는 각 변수를 콤마(,)로 구분하여 매개변수를 넣는다. (출력 시 각 변수가 띄어쓰기로 구분됨)

In [6]:
# 변수 출력 예시
a = 1   # a, b는 출력할 변수들
b = 2

print(a, b)

1 2

- print()는 출력 이후 줄 바꿈 수행

In [8]:
# 출력 줄 바꿈 예시
a = 1   # a, b는 출력할 변수들
b = 2

print(a)
print(b)

1
2

- 출력 시 문자열과 수를 함께 출력해야 되는 경우 => 더하기(+)를 이용하면 오류!

In [9]:
# 출력 시 오류가 발생하는 소소코드 예시
answer = 7  # 출력할 변수들

print("정답은" + answer + "입니다.")

TypeError: ignored

- 문자열 자료형끼리만 더하기 연산 가능
- 해결 방법
    - 1) **str()**함수를 이용 => 변수 데이터를 문자로 바꿔줌
    - 2) 각 자료형을 **콤마(,)**를 기준으로 구분하여 출력
- 참고: 자바 등 일부 프로그래밍 언어에서는 문자열 + 수도 가능

In [12]:
# 변수를 문자열로 바꾸어 출력하는 소스코드 예시
answer = 7  # 출력할 변수들 

print("정답은 " + str(answer) + "입니다.")

정답은 7입니다.

In [11]:
# 각 변수를 콤마(,)로 구분하여 출력하는 소스코드 예시
answer = 7  # 출력할 변수들
print("정답은", str(answer), "입니다.")

정답은 7 입니다.

- 각 변수를 콤마로 구분하여 출력할 경우, 변수의 값 사이에 의도치 않은 공백이 삽입될 수 있음.
- Python 3.6이상의 버전부터는 f-string문법 사용가능
- f-string : 문자열 앞에 접두사 'f'를 붙임으로써 사용가능.
- f-string 이용하면 중괄호({})안에 변수를 넣음으로써, 자료형의 변환 없이도 간단히 문자열과 정수를 함께 넣을 수 있다.

In [13]:
answer = 7
print(f"정답은 {answer}입니다.")

정답은 7입니다.