# 3. 반복문
- 특정한 소스코드를 반복실행할 때 사용
- while문, for문(대부분 for문이 더 짧다)

### while문
- 조건문이 참일 때 한해서, 반복적으로 코드 수행
- 조건문 설정에 따라 해당 블록을 영원히 반복할 수 있다. => 무한 루프(Infinite Loop)

In [1]:
# 1부터 9까지 각 정수의 합을 계산하는 코드

i = 1
result = 0

# i가 9보다 작거나 같을 때 아래 코드를 반복적으로 실행
while i <= 9:
    result += i
    i += 1

print(result)

45

In [2]:
# 1부터 9까지의 수 중 홀수만 더하고자 하는 코드

i = 1
result = 0

# i가 9보다 작거나 같을 때 아래 코드를 반복적으로 실행
while i <= 9:
    if i % 2 == 1:
        result += i
    i += 1

print(result)

25

### for문
- for문의 구조
```
for 변수 in 리스트:
    실행할 소스코드
```
- in 뒤에 오는 데이터에 포함되어 있는 모든 원소를 첫 번째 인덱스부터 차례대로 하나씩 방문한다.
- in 뒤에 오는 데이터로는 리스트, 튜플, 문자열 등이 사용될 수 있다.
- for문에서 수를 차례대로 나열할 때는 range()를 주로 쓴다. 
- **range(시작 값, 끝 값 + 1)**
- 예) range(1, 10)

In [3]:
result = 0

# i는 1부터 9까지의 모든 값을 순회
for i in range(1, 10):
    result += i

print(result)

45

- range()의 값으로 하나의 값만 넣으면, 자동으로 시작 값은 0 
- 주로 리스트나 튜플 데이터의 모든 원소를 첫 번째 인덱스부터 방문할 때 이 방법 사용
- 리스트의 인덱스는 0부터 출발

In [4]:
scores = [90, 85, 77, 65, 97]

for i in range(5):
    if scores[i] >= 80:
        print(i+1, "번 학생은 합격입니다.")

1 번 학생은 합격입니다.
2 번 학생은 합격입니다.
5 번 학생은 합격입니다.

- 반복문 안에서 continue를 만나면 프로그램의 흐름은 반복문의 처음으로 돌아간다.

In [5]:
# 2번, 4번 학생이 블랙리스트에 올라 점수가 높아도 합격하지 못하는 코드
scores= [90, 86, 77, 65, 97]
cheating_list = {2, 4}

for i in range(5):
    if i+1 in cheating_list:
        continue
    if scores[i] >= 80:
        print(i+1, "번 학생은 합격입니다.")

1 번 학생은 합격입니다.
5 번 학생은 합격입니다.

- 반복문은 중첩 가능
- 2중 반복문이 사용되는 대표적인 예시는 구구단
- 플로이드 워셜 알고리즘, 다이나믹 프로그래밍 알고리즘 문제에 많이 사용됨

In [6]:
for i in range(2, 10):
    for j in range(1, 10):
        print(i, "X", j, "=", i*j)
    print()

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81